<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.ksgfk.windchimeweb.mapper.UserHasCardMapper">
    <resultMap id="BaseResultMap" type="com.github.ksgfk.windchimeweb.entity.UserHasCardKey">
        <id column="userId" jdbcType="INTEGER" property="userId"/>
        <id column="cardId" jdbcType="INTEGER" property="cardId"/>
    </resultMap>
</mapper>